/*подключаю шрифт*/
/*==================================================================================================*/
/*=============================домашняя работа №1===================================================*/
.wraper {
	min-height: 100%;
	overflow: hidden;
	background-color: rgb(245, 115, 115);
}
/*========================================header================================================*/
